Click==7.0
numpy_stl==2.12.0
rospy==1.15.9
sensor_msgs==1.13.0
tf2_sensor_msgs==0.7.5
rosparam==1.15.9
roslaunch==1.15.9
open3d==0.11.0
rospkg_modules==1.2.9
stable_baselines3==0.8.0
torch==1.6.0+cu101
actionlib==1.13.2
numpy==1.17.4
catkin_pkg_modules==0.4.23
tf2_ros==0.7.5
tf_conversions==1.13.2
controller_manager_msgs==0.19.4
scipy==1.5.2
pandas==1.1.3
catkin_pkg==0.4.23
GitPython==3.1.12
rospkg==1.2.9
stl==0.0.3
tensorboardX==2.1
